@import "../../common/colors.scss";

.movie-list{
    margin: 20px 0px;

    h2{
        color: $font-secondary;
        margin-bottom: 10px;
        font-weight: 400;
    }

}
.movie-container {
    .slick-slide {
      padding: 0 10px; 
    }
    
    .slick-list {
      margin: 0 -10px; 
    }
  }

.shows-list{
    margin: 20px 0px;

    h2{
        color: $font-secondary;
        margin-bottom: 10px;
        font-weight: 400;
    }

}



.movie-card {
  
  background-color:$primary-color;
  // border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 10px;
}